.box {
  margin: 0;
}

.mission-name {
  width: 118px;
  height: auto;
  text-align: justify;
  padding-left: 5px;
}

.status-button {
  width: 124px;
  height: auto;
  text-align: center;
}

.join-button {
  width: 140px;
  height: auto;
  text-align: center;
}

.active-member-btn {
  padding: 2px;
  background-color: rgb(45, 204, 204);
  border-radius: 5px;
  color: white;
}

.not-member-btn {
  padding: 4px;
  background-color: rgb(170, 166, 166);
  border-radius: 5px;
  color: white;
}

.join-mission {
  height: 30px;
  background-color: transparent;
  border-radius: 3px;
  cursor: pointer;
}

.leave-mission {
  height: 30px;
  background-color: transparent;
  border-radius: 3px;
  border: 1px solid red;
  color: red;
  cursor: pointer;
}

table,
td {
  border: 1px solid rgb(216, 217, 218);
  border-collapse: collapse;
}

table:nth-child(odd) {
  background-color: rgba(203, 203, 199, 0.417);
}

.mission-content {
  width: 99%;
  margin: 0 auto;
}

.mission-description {
  padding: 15px;
}
