.myprofile {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 20px;
}

.my-profile-rocket-section {
  width: 45%;
  padding-top: 10px;
}

.my-profile-mission-section {
  width: 45%;
}
