.header {
  display: flex;
  flex-direction: row;
  width: 95%;
  margin: auto;
}
.Cont {
margin-left: auto;
  display: flex;
  gap: 20px;
}

img {
  width: 50px;
  height: 50px;
}

.navbar-brand {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0.5rem;
}

.navlink--active {
  color: #7a2525;
}

.profile-name{
  border: 1px solid #a8a0a0;
  width: 40%;
  height: 60px;
  font-size: 30px;
  font-weight: bold;
  padding: 1rem;
}
.rocket-cont{
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 2rem auto;
  gap: 2rem;
 

 
}

.flicker-img{
  height:250px;
  width:250px;
  margin-bottom: 20px;
  border-radius: 10px;
 
}

.info{

}
.name {
  font-size: 2em;
  font-weight: bold;
  margin: 0.5rem;
}
.description {
  font-size: 1.5em;
  margin: 0.5rem;
  font-family: 'Roboto Flex', sans-serif;
}

.reserve{
 cursor: pointer;
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  background-color: blue;
  border-radius: 5px;
  width: 23%;
  height: 25px;
  padding: 10px;
  text-align: center;
}

.badge {
  border-radius: 5px;
  background-color: rgb(0, 81, 128);
  color: white;
  display: inline;
  padding: 3px;
  font-size: 0.8em;
  margin-right: 10px;
}

.nav-item 
{
  text-decoration: none;
  font-size: 1.5em;
}

@-webkit-keyframes STAR-MOVE {
	from {
		left: 0;
		top: 0;
	}
	to { 
		left: -10000px;
		top: -2000px;
	}
}

.background {
	background: black url(../images/background.png) repeat 5% 5%;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 100;
	
	-webkit-animation-name: STAR-MOVE;
	-webkit-animation-duration: 200s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
}

.midground {
	background: url(../images/midground.png) repeat 20% 20%;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 200;
	
	-webkit-animation-name: STAR-MOVE;
	-webkit-animation-duration: 150s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
}

.foreground {
	background: url(../images/foreground.png) repeat 35% 35%;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 300;
	
	-webkit-animation-name: STAR-MOVE;
	-webkit-animation-duration: 100s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
}